<div class="mainNav">
  <div id="show_user_task" class="items" style="display:none;">
    <ul class="manager clearfix">
      <li class="user_new_task"><%= link_to_remote("新築の任務",
                                                   {:update => 'tabWrap',
                                                    :url => {:id => params[:id], :tab => 'user_new_task'},
                                                    :loading => "show_ajax(this,'#{params[:id]}','user_new_task')"},
                                                   :id => 'user_new_task') %></li>
      <li class="user_receive_task"><%= link_to_remote("受け入れの任務",
                                                       {:update => 'tabWrap',
                                                        :url => {:id => params[:id], :tab => 'user_receive_task'},
                                                        :loading => "show_ajax(this,'#{params[:id]}','user_receive_task')"},
                                                       :id => 'user_receive_task') %></li>
      <li class="user_finish_task"><%= link_to_remote("完瞭した任務",
                                                      {:update => 'tabWrap',
                                                       :url => {:id => params[:id], :tab => 'user_finish_task'},
                                                       :loading => "show_ajax(this,'#{params[:id]}','user_finish_task')"},
                                                      :id => 'user_finish_task') %></li>
      <li class="user_unfinished_task"><%= link_to_remote("未完成の任務",
                                                          {:update => 'tabWrap',
                                                           :url => {:id => params[:id], :tab => 'user_unfinished_task'},
                                                           :loading => "show_ajax(this,'#{params[:id]}','user_unfinished_task')"},
                                                          :id => 'user_unfinished_task') %></li>
      <li class="user_task_confirm"><%= link_to_remote("任務を完成して確認(#{@number})",
                                                       {:update => 'tabWrap',
                                                        :url => {:id => params[:id], :tab => 'user_task_confirm'},
                                                        :loading => "show_ajax(this,'#{params[:id]}','user_task_confirm')"},
                                                       :id => 'user_task_confirm') %></li>
    </ul>
  </div>
</div>
<%= render :partial => "layouts/messages" %>
