<%= render :partial => "user_task_top" %>
<div class="pgtitle clearfix">
  <h2 class="h2_title">新築の任務一覧</h2>
</div>
<table class="tlist" width="100%">
  <tr>
    <th width="4%">Id</th>
    <th width="15%">Title</th>
    <th width="35%">Description</th>
    <th width="14%">Limit time</th>
    <th width="10%">Confirm flag</th>
    <th width="15%">Operation</th>
  </tr>
  <% if @tasks.blank? %>
      <tr>
        <td colspan="11" class="ac">該当するデータが見つかりません。</td>
      </tr>
  <% else %>
      <% @tasks.each do |task| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.limit_time %></td>
            <td><%= task.confirm_flag %></td>
            <td><li><%= link_to_remote("delete",
                                   {:update => 'tabWrap',
                                    :url => {:id => params[:id], :task_id => task.id, :tab => 'user_task_delete'},
                                    :loading => "show_ajax(this,'#{params[:id]}','user_new_task')"},
                                   :id => 'user_new_task') %></li></td>
          </tr>
      <% end %>
  <% end %>
</table>
<script type="text/javascript">
    $('show_user_task').style.display = '';
</script>