<p align="center"><%= error_messages_for :group %></p>
<% form_for :group, :url => {:controller => "admin/user", :action => 'group_edit'} do |g| %>

    <div class="pgtitle clearfix">
      <h2 class="h2_title">グループ 編集</h2>

      <div class="btnbar">
        <%= submit_tag ' 保存' %>
        <%= button_to_function "戻る", :onclick => "window.location.href='/admin/user/group_list'" %>
      </div>
    </div>
    <h3 id="user_detail">グループ情報</h3>
    <p class="mb10">この画面にて、グループ編集。</p>
    <table class="tform mb10" width="100%">
      <tr>
        <th>name<span class="star">*</span></th>
        <td><%= g.text_field :name, :size => 80 %></td>
      </tr>
      <tr>
        <th>memo<span class="star">*</span></th>
        <td><%= g.text_area :memo, :cols => 100, :rows => 10 %>
        </td>
      </tr>
    </table>
    <%= render :partial => 'group_info_form' %>
    <div class="btnbar">
      <%= submit_tag '保存' %>
      <%= button_to_function "戻る", :onclick => "window.location.href='/admin/user/group_list'" %>
    </div>
    <%= hidden_field_tag "id", @group.id %>
<% end %>
<script type="text/javascript" language="javascript">
    $('show_user').style.display = '';
</script>