<div id="error_messages"></div>
<% form_for :user, :url => {:controller => "admin/user", :action => 'password_reset_send_mail'} do |u| %>
    <div class="pgtitle">
      <h2 class="h2_title">パスワード再発行</h2>

      <div class="btnbar">
        <%= submit_tag '送信', :confirm => "確認メール送信？" %>
        <%= button_to_function "戻る", :onclick => "window.location.href='/admin/user/list'" %>
      </div>
      <hr class="cb"/>
    </div>
    <table class="tform" width="100%">
      <tr>
        <th width="20%">メールアドレス<span class="star">*</span></th>
        <td><%= u.text_field :email, :class => 'inputW250' %></td>
      </tr>
    </table>
    <%= hidden_field_tag :uuid_random, @user.uuid_random %>
    <div class="btnbar">
      <%= submit_tag '送信', :confirm => "確認メール送信？" %>
      <%= button_to_function "戻る", :onclick => "window.location.href='/admin/user/list'" %>
    </div>
<% end %>
