<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "admin/layout" %>
</head>
<body>
<p align="center"><%= error_messages_for :user %></p>
<% form_for :user, :url => {:controller => "admin/user", :action => :password_reset, :uuid_random => @user.uuid_random} do |u| %>
    <table align="center" class="tform mb10">

      <tr>
        <td colspan="2" align="center">Password reset</td>
      </tr>
      <tr>
        <th>パスワード<span class="star">*</span></th>
        <td>
          <%= u.password_field :password, :class => "inputW175" %>
          <br/>
          6文字以上、20文字以下の半角英数、記号（ハイフン「-」とアンダーバー「_」のみ）で入力してください。
        </td>
      </tr>
      <tr>
        <th>パスワード(確認)<span class="star">*</span></th>
        <td><%= u.password_field :password_confirmation, :class => "inputW175" %></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><%= submit_tag "Save" %></td>
      </tr>
    </table>
    <%= u.hidden_field :uuid_random %>
<% end %>
</body>
</html>